body {
    background-color: whitesmoke;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

nav a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-align: center;
}
